/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.my-documents .simple-detailed span.first-child
{
   background-position: 50% 50%;
   background-repeat: no-repeat;
   min-height: 16px;
   padding: 0 2px;
}

.my-documents .simple-detailed .yui-button
{
   margin-left: 0;
   margin-right: 0;
}

.my-documents .simple-detailed .simple-view span.first-child
{
   background-image: url(../../../../components/documentlibrary/images/simple-view-off-16.png);
}

.my-documents .simple-detailed .simple-view.yui-button-checked span.first-child
{
   background-image: url(../../../../components/documentlibrary/images/simple-view-on-16.png);
}

.my-documents .simple-detailed .detailed-view span.first-child
{
   background-image: url(../../../../components/documentlibrary/images/detailed-view-off-16.png);
}

.my-documents .simple-detailed .detailed-view.yui-button-checked span.first-child
{
   background-image: url(../../../../components/documentlibrary/images/detailed-view-on-16.png);
}
